* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'League Spartan', sans-serif;
}

ul {
    padding: 0;
    margin: 0;
}

ul>li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h4,
h5,
h6 {
    margin: 0;

}

p {
    margin: 0;
}

img {
    max-width: 100%;
}

hr {
    border: 1px solid rgb(112, 112, 112);
    width: 178px;
}

.wrapper {
    min-height: 100%;
}

.header {
    background-color: #F8F8F8;
    min-height: 100vh;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header__container {
    display: flex;
}

.header__desc {
    padding-top: 110px;
    max-width: 630px;
    margin-right: 33px;
}


.suptitle {
    font-size: 24px;
    font-weight: 300;
}


.header__suptitle {
    color: #161515;
    margin-bottom: 53px;
}

.title {
    color: #272727;
    font-size: 250px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 20px;
}

.header__text {
    color: #161515;
    font-size: 32px;
    font-weight: 300;
    line-height: 155%;
    margin-bottom: 61px;
}

.buy {
    display: flex;
}

.buy__link {
    display: inline-block;
    background: #161515;
    text-decoration: none;
    color: #FFF;
    font-size: 32px;
    font-weight: 300;
    line-height: 1;
    padding: 25px 73px;
}

.buy__price {
    box-shadow: 0px 0px 28px 0px rgba(214, 214, 214, 0.25);
    padding: 16px 28px;
    color: #272727;
    text-align: center;
    font-size: 32px;
    font-weight: 300;
    display: flex;
    align-items: center;
}

.header__img-wrap {
    width: 408px;
    flex-shrink: 0;
}

.products {
    text-align: center;
    padding: 43px 0px 142px;
}

.products__contetn {
    max-width: 530px;
    margin: 0 auto;
}

.product__suptile {
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}

.subtitle {
    color: rgb(0, 0, 0);
    font-size: 72px;
    font-weight: 400;
    margin-bottom: 84px;
}

.product__img-wrap {
    background-color: #F8F8F8;
    padding-top: 110px;
    padding-bottom: 110px;
}

.product__title {
    color: rgb(0, 0, 0);
    font-size: 32px;
    font-weight: 400;
    padding-top: 67px;
}

.product__text {
    color: rgb(22, 21, 21);
    font-size: 32px;
    font-weight: 300;
    padding-top: 17px;
}

.products__desc-title {
    color: rgb(22, 21, 21);
    font-size: 32px;
    font-weight: 400;
    line-height: 186%;
    padding-top: 59px;

}

.products__text {
    color: rgb(22, 21, 21);
    font-size: 24px;
    padding-top: 58px;
}

.product__dexc-link {
    color: rgb(187, 139, 93);
}